header {
	display: none;
}

section {
	padding-top: 35px;
}

.shadow-top-left {
	display: block;
	position: fixed;
	top: -450px;
	left: 0;
	height: 500px;
	width: 100%;
	background: #333;
	z-index: 900;
	transition: all 200ms;
}

.shadow-top-left.skew {
	left: -80%;
	transform: skewY(10deg);
	transition: all 200ms;
}

.shadow-top-right {
	display: block;
	position: fixed;
	top: -450px;
	left: 100%;
	height: 500px;
	width: 100%;
	background: #333;
	z-index: 900;
	transition: all 200ms;
}

.shadow-top-right.skew {
	left: calc(20% - 1px);
	transform: skewY(-10deg);
	transition: all 200ms;
}

.header-min {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-image: linear-gradient(45deg, #4e00ff, #A457BF);
	opacity: 0;
	z-index: 998;
}

.header-min {
	opacity: 1;
	transition: all 200ms;
}

.header-min.skew {
	margin-left: -80%;
	transform: skewY(10deg);
	transition: all 200ms;
}

.header-min #logo {
	padding-top: 4px;
	color: #fff;
	font-family: 'Questrial', sans-serif;
	font-size: 30px;
	cursor: default;
}

.header-min #logo::first-letter {
	font-family: 'Pacifico', cursive
}

.header-min #download {
	position: absolute;
	top: 5px;
	right: 5px;
}

.header-min #download > button {
	position: fixed;
	top: 14px;
	right: 55px;
	padding: 6px 10px 5px 10px;
	font-size: 16px;
	background: transparent;
	border: 2px solid rgba(255,255,255,.6);
	color: rgba(255,255,255,.6);
	transition: 200ms;
	border-radius: 3px;
	cursor: pointer;
	z-index: 999;
}

.header-min #menu-mobile-action {
	display: block;
	position: absolute;
	top: 14px;
	right: 10px;
	color: #fff;
	background: transparent;
	font-size: 16px;
	box-sizing: border-box;
	padding: 5px 10px;
	border: 2px solid #fff;
	border-radius: 3px;
	border: 2px solid rgba(255,255,255,.6);
	color: rgba(255,255,255,.6);
}

.header-menu-mobile {
	display: block;
	position: fixed;
	top: 0;
	left: 100%;
	width: 100%;
	height: 60px;
	background: #532a91;
	padding: 4px 0 0 30px;
	box-sizing: border-box;
	z-index: 999;
}

.header-menu-mobile.skew {
	left: 20%;
	transform: skewY(-10deg);
	transition: all 200ms;
}

.header-menu-mobile img {
	width: 50px;
	opacity: .8;
}

.menu {
	position: fixed;
	top: 60px;
	left: 100%;
	width: 100%;
	height: calc(100vh - 60px);
	padding: 30px;
	background: #eee;
	box-sizing: border-box;
	z-index: 999;
	transition: all 200ms;
}

.menu.skew {
	left: 20%;
	transform: skewY(-10deg);
	overflow-y: auto;
	border-left: 1px solid #ccc;
	transition: all 200ms;
}

.menu span.title {
	font-weight: bold;
}

.menu span.title:hover,
.menu span.title:focus,
.menu span.item:hover,
.menu span.item:focus {
	color: #7124e5;
	cursor: pointer;
}

.menu > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.menu > ul > li {
	line-height: 30px;
}

.menu > ul > li > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu > ul > li > ul > div {
	display: none;
	margin-left: 10px;
}

.menu > ul > li > ul > div.show {
	display: block;
}

.content {
	float: relative;
	width: 100%;
	margin-top: 60px;
	transition: all 200ms;
}

.content.skew {
	margin-left: -80%;
	margin-top: 31px;
	transform: skewY(10deg);
	transition: all 200ms;
}

.content section {
	text-align: center;
}

.content section#section-how-use button {
	background: #fff	;
	border: 2px solid #7124e5;
	padding: 7px 20px 6px 20px;
	font-size: 20px;
	color: #7124e5;
	transition: 200ms;
	border-radius: 5px;
	cursor: pointer;
}

.content section#section-how-use .version {
	padding: 3px 0;
	cursor: default;
}

.sectionTitle {
	font-size: 24px;
}

.sm-space-bottom-5 {
	margin-bottom: 5px;
}

.sm-left {
	text-align: left;
}